<<<<<<< HEAD
#caps_beautiful_face{
    width:100%;
}
h1{
    color:green;
}
body{
    background-color:#fff7e0;
}



=======
body {
    background-image: url(../images/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover; 
    font-size: 18px;
    line-height: 36px;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    color: whitesmoke;
}
>>>>>>> 2e937206037be3dad1e73ded8c69e4e4b61fd466
